default:
    suites:
        default:
            contexts:
                - CommandContext:
                    kernel: '@kernel'
                - FeatureSimpleWayContext: ~
				- LogContext: ~

    extensions:
        Behat\Symfony2Extension:
            kernel:
                bootstrap: features/bootstrap/bootstrap.php
                class: App\Kernel
